version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=8000
    volumes:
      - .:/app
    # Збільшуємо ресурси для Chrome
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'
