[build]
builder = "DOCKERFILE"
dockerfilePath = "./Dockerfile"

[deploy]
startCommand = "python main.py"
healthcheckPath = "/health"

[deploy.healthcheck]
path = "/health"
initialDelay = 60
timeout = 30
period = 15
successThreshold = 1
failureThreshold = 5

[deploy.service]
port = 8000

[variables]
PYTHONUNBUFFERED = "1"
PORT = "8000"
# Додатково для Selenium
DISPLAY = ":99"
CHROME_BIN = "/usr/bin/google-chrome"
