[build]
builder = "dockerfile"

[deploy]
startCommand = "python main.py"
# Видалили healthcheck поки що
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[variables]
PYTHONUNBUFFERED = "1"
